# CTags
.tags*

# Logs
*.log

# CMake Output Directories
build*/
Testing/

# YouCompleteMe
*.pyc

# CLion
.idea
cmake-build-*

# OS junk files
[Tt]humbs.db
*.DS_Store

# clang-format temp files - currently an upstream bug
*.TMP
